/* Css mặc định */
*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto Serif", serif;
    box-sizing: border-box;
}
:root {
    --text-color: #0f0f0f;
    --text-light-color: #606060;
    --back-color: #f2f2f2;
    --back-color-hover: #e5e5e5;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
.d-flex {
    display: flex;
}
/* Header */
header {
    height: 56px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
/* Header left */
.header__left {
    align-items: center;
}
.icon__navbar {
    height: 40px;
    width: 40px;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}
.icon__navbar:hover {
    background-color: var(--back-color-hover);
}
.icon__navbar i {
    font-size: 2.4rem;
}
.header__logo {
    position: relative;
}
.header__logo-link {
    font-size: 2rem;
    font-weight: 600;
    margin-left: 16px;
}
.header__logo-link i {
    color: red;
}
.header__logo--lang {
    font-style: 1rem;
    position: absolute;
    /* right: 0; */
    top: -8px;
    color: var(--text-light-color);
}
/* Header center */
.header__center {
    height: 40px;
    flex-grow: 1;
    justify-content: center;
}
.header__center-form {
    overflow: hidden;
    border-radius: 19px;
    border: 2px solid var(--back-color-hover);
    width: 50%;
}
.header__center-form input {
    border-radius: 19px 0 0 19px;
    width: 100%;
    padding: 12px;
    outline: none;
    border: none;
    border-right: 2px solid var(--back-color-hover);
}
.header__center-form button {
    border-radius: 0 19px 19px 0;
    padding: 8px 20px;
    outline: none;
    border: none;
    background-color: var(--back-color);
    cursor: pointer;
    font-size: 2rem;
}
.header__center-form button:hover {
    background-color: var(--back-color-hover);
}
.icon__voice {
    position: relative;
    margin-left: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--back-color);
    position: relative;
    cursor: pointer;
}
.icon__voice:hover {
    background-color: var(--back-color-hover);
}
.icon__voice i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
}
.icon__voice span,
.header__right--notification span {
    width: 148px;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    background-color: var(--text-light-color);
    color: #fff;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.header__right--notification span {
    width: 80px;
}
.icon__voice:hover span,
.header__right--notification:hover span {
    display: block;
}
/* Header right */
.header__right {
    height: 36px;
}
.header__right--create {
    position: relative;
    align-items: center;
    padding: 4px 8px;
    color: #0f0f0f;
    background-color: var(--back-color);
    font-size: 1.4rem;
    border-radius: 19px;
    cursor: pointer;
}
.header__right--create-content {
    gap: 8px;
    cursor: pointer;
}
.header__right--create:hover {
    background-color: var(--back-color-hover);
    cursor: pointer;
}
.header__right--create span:first-child {
    font-size: 4rem;
    font-weight: 200;
}
.header__right--notification {
    height: 36px;
    width: 36px;
    margin: 0 20px;
    position: relative;
}
.header__right--notification:hover {
    background-color: var(--back-color-hover);
    border-radius: 50%;
    cursor: pointer;
}
.header__right--notification i {
    font-size: 2rem;
    padding: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header__right--avatar img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

/* Side bar hidden */
.side-bar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 240px;
    overflow-y: auto;
    background-color: #fff;
    transform: translateX(-100%);
    z-index: 10;
    transition: ease 0.5s;
}
.side-bar .header__left {
    margin-top: 8px;
}
.side-bar h4 {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 24px 0 0 16px;
}
.side-bar .header__left {
    margin-left: 12px;
}
.side-bar--list {
    padding: 12px;
    border-bottom: 1px solid var(--back-color-hover);
}
.side-bar--item {
    padding: 0 12px;
}
.side-bar--item a {
    font-size: 1.4rem;
    padding: 12px 0;
}
.side-bar--item a i {
    font-size: 2rem;
    margin-right: 12px;
}
.link-web {
    padding: 24px;
}
.link-web a{
    padding: 2px;
    font-size: 1.2rem;
    margin-right: 6px;
    font-weight: 500;
    color: #0f0f0f;
}
.link-web a:hover {
    color: var(--text-light-color);
}
/* Ẩn hiện side bar */
#show-side-bar:checked ~ .side-bar {
    transform: translateX(0);
}
/* Create list */
.create-list {
    overflow: hidden;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px 2px rgb(222, 222, 222);
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    display: none;
}
.create-list {
    flex-direction: column;
    box-shadow: 0 0 10px 6px rgba(123, 123, 123, 0.4);
    position: absolute;
    top: 50px;
    left: -40px;
    width: 160px;
}
.create-list li {
    padding: 12px;
}
.create-list li:hover {
    background-color: var(--back-color-hover);
}
.create-list li a {
    padding: 8px;
}
#show-create:checked ~ .create-list {
    display: flex;
}
/* Side bar */
.side-bar-lv2 {
    padding: 4px;
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    width: 80px;
}
.side-bar--lv2-item:hover {
    border-radius: 4px;
    background-color: var(--back-color);
}
.side-bar--lv2-item a{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
}
.side-bar--lv2-item a i {
    font-size: 2.4rem;
    margin-bottom: 12px;
}
.side-bar--lv2-item span {
    font-size: 1rem;
    font-weight: 500;
}