* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "Open Sans", serif;
}
:root {
    --primary-color: #666;
}
ul {
    list-style: none;
    display: flex;
}
a {
    text-decoration: none;
    color: var(--primary-color);
}
input {
    display: none;
}
/* Header */
header {
    margin: 80px;
    display: flex;
    align-items: center;
    border: 1px solid #f6f6f6;
}
nav {
    margin-left: auto;
}
.logo {
    padding: 8px 16px 8px;
    height: 60px;
}
.logo img {
    height: 100%;
    object-fit: cover;
}
.nav__tablet--item {
    position: relative;
    border-left: 1px solid #f6f6f6;
}
.nav__tablet--item:hover {
    background-color: #2da5da;
    color: #fff;
}
.nav__tablet--item:hover .nav__tablet--lv2 {
    display: flex;
}
.nav__tablet--item {
    color: var(--primary-color);
    padding: 15px 20px;
    font-weight: 500;
}
.nav__tablet--item span {
    margin-left: 8px;
}
/* Menu 2 */
.nav__tablet--lv2 {
    flex-direction: column;
    box-shadow: 0 0 10px 6px rgba(123, 123, 123, 0.4);
    position: absolute;
    top: 60px;
    left: 0;
    animation: hide ease 0.3s;
    display: none;
}
.nav__tablet--lv2::before {
    content: "";
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    top: -16px;
    left: 30px;
}
.nav__tablet--lv2::after{
    content: "";
    display: block;
    position: absolute;
    top: -16px;
    left: 0;
    width: 100%;
    height: 20px;
} 
.nav__tablet--lv2 li {
    color: var(--primary-color);
    padding: 15px 20px;
    font-weight: 500;
    min-width: 200px;
}
.nav__tablet--lv2 li:hover {
    background-color: #f3f3f3;
}
/* Icon menu */
.icon__navbar i{
    padding: 20px;
    display: none;
    cursor: pointer;
}
/* overlay */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}
.nav__mobile {
    padding-top: 12px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 400px;
    background-color: #fff;
    transform: translateX(100%);
    transition: 0.3s ease;
}
.icon__close i{
    font-size: 20px;
    padding: 16px;
    color: var(--primary-color);
    cursor: pointer;
}
.icon__close:hover i{
    color: red;
}
.nav__mobile--list {
    display: flex;
    flex-direction: column;
}
.nav__mobile--item label{
    display: block;
    color: var(--primary-color);
    padding: 8px 36px 8px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
}
.nav__mobile--item label:hover {
    background-color: rgba(217, 207, 207, 0.3);
}
/* Navbar mobile lv2 */
.nav__mobile--item label::before {
    content: "+";
}
.nav__mobile--lv2 {
    margin-left: 60px;
    display: none;
}
.nav__mobile--lv2 li {
    padding: 4px;
}
.nav__mobile--lv2 li:hover a{
    color: red;
}
/* Mobile */
@media screen and (max-width: 1024px){
    .icon__navbar i{
        display: block;
    }
    .nav__tablet {
        display: none;
    }
    header {
        margin: 80px 40px;
    }
    #close:checked ~ .overlay {
        display: block;
    }
    #close:checked ~ .nav__mobile {
        transform: translateX(0);
    }
    .check:checked ~ .nav__mobile--lv2 {
        display: block;
        font-size: 16px;
    }
    .check:checked ~ label::before{
        content: "-";
    }
}
/* Animation */
@keyframes hide{
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
